ORDER BY QUESTIONS

In [0]:
--Salary of the top person working in the organization
select * from employees order by salary desc

In [0]:
--salary of the lowest person working in the organization 
select * from employees order by salary asc

In [0]:
--showing the department name from desc( meaning from the last alphabetic order)
select * from employees order by department desc

In [0]:
--showing the city name from desc(last alphabetic order) and first_name from asc(first alphabetic order)
select * from employees order by city desc ,first_name asc

In [0]:
--showing the first_name asc
select * from employees order by first_name asc;

In [0]:
--showing the job titles from the ascending order
select * from employees order by job_title asc

In [0]:
--showing the city name from ascending order
select * from employees order by city asc

In [0]:
--recently hired person 
select * from employees order by hire_date desc

In [0]:
--recently hired person only the top one to show 
select * from employees order by hire_date desc limit 1

In [0]:
--find the first highest salary 
select * from employees order by salary desc limit 1

In [0]:
--find the second highest salary 
select * from employees order by salary desc limit 1 offset 1

In [0]:
--find the 3rd highest salary 
select * from employees order by salary desc limit 1 offset 2

Distinct

In [0]:
--Distinct first code
select distinct * from employees

In [0]:
--using distinct in first_name
select distinct first_name from employees

In [0]:
--using distinct in salary 
select distinct salary from employees

In [0]:
--using distinct in city 
select distinct city from employees

In [0]:
--using distinct in department
select distinct department from employees