VERY BASIC (single condition)

In [0]:
--Show all employees from Engineering department
select * from employees where department='Engineering'

In [0]:
--Show employees whose city = 'Delhi'
select * from employees where city='Delhi'

In [0]:
--Show employees whose status = 'Active'
select * from employees where status='Active'

In [0]:
--Show employees whose salary > 90000 
select * from employees where salary > 90000

BASIC COMPARISONS

In [0]:
--Show employees whose salary < 60000
select * from employees where salary < 60000

In [0]:
--Show employees hired after '2020-01-01'
select * from employees where hire_date > '2020-01-01'

In [0]:
--Show employees hired before '2018-01-01'
select * from employees where hire_date < '2018-01-01'

WHERE with AND / OR (still WHERE only)

In [0]:
--Show employees from Engineering AND Hyderabad
select * from employees where department='Engineering' and city='Hyderabad'

In [0]:
--Show employees from HR OR Finance

select * from employees where department='HR' or department='Finance'

In [0]:
--Show employees who are Active AND salary > 70000
select * from employees where status='Active' and salary > 70000

WHERE with LIKE (still part of WHERE)

In [0]:
--Show employees whose first_name starts with 'A'
select * from employees where first_name like 'A%'

In [0]:
--Show employees whose last_name ends with 'son'
select * from employees where last_name like '%son'

In [0]:
--Show employees whose email contains 'example'
select * from employees where email like '%example%'

SIMPLE LOGIC PRACTICE

In [0]:
--Show employees who are NOT from Bangalore
select * from employees where not city='Bangalore'

In [0]:
--Show employees whose salary BETWEEN 60000 AND 80000
select * from employees where salary between 60000 and 80000

1️⃣ Combination of AND + LIKE

In [0]:
--Show employees who work in Engineering AND whose first_name starts with 'S'.
select * from employees where department='Engineering' and first_name like 'S%'

2️⃣ AND + OR

In [0]:
--Find employees who are Active AND (work in Hyderabad OR Pune).
select * from employees where status='Active' and city in('Hyderabad','Pune')

3️⃣ BETWEEN + LIKE

In [0]:
--Show employees whose salary is between 70000 and 100000 AND last_name ends with 'er'.
select * from employees where salary between 70000 and 100000 and last_name like '%er'

4️⃣ OR + LIKE + NOT

In [0]:
--Find employees who are from Delhi OR Pune AND first_name does NOT start with 'A'.
select * from employees where city in('Delhi','Pune') and first_name not LIKE 'A%'

5️⃣ Complex combination

In [0]:
--Show employees who are Active AND (department = 'HR' OR department = 'Finance') AND salary > 60000.
select * from employees where status='Active' and department in ('HR','Finance') and salary > 60000