Class 2 where we learn Select, Where and Group By (REAL-LIFE QUERIES
)

In [0]:
%sql
-- So we see the names of the databases currently in our databrick
show databases;

In [0]:
%sql
-- So we create a database name employees
CREATE DATABASE employees ;

In [0]:
%sql 
-- Now we use the database which we just created named as employees
use employees;

In [0]:
%sql
-- Now we created a table name employees.
CREATE TABLE employees (
    emp_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    job_title VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE,
    status VARCHAR(20),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
%sql
-- We insert our data inside the employees table 
INSERT INTO employees VALUES
(1, 'John', 'Doe', 'Engineering', 'Software Engineer', 75000.00, '2020-05-15', 'Active', 'Bangalore', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'HR', 'HR Manager', 65000.00, '2019-03-10', 'Active', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Engineering', 'Data Engineer', 85000.00, '2021-07-01', 'Active', 'Hyderabad', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Marketing', 'Marketing Analyst', 60000.00, '2018-11-22', 'Active', 'Delhi', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Sales', 'Sales Executive', 55000.00, '2022-01-05', 'Active', 'Chennai', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Engineering', 'Backend Developer', 78000.00, '2020-09-17', 'Active', 'Pune', 'sara.ali@example.com'),
(7, 'Amit', 'Verma', 'Finance', 'Accountant', 62000.00, '2017-06-30', 'Inactive', 'Bangalore', 'amit.verma@example.com'),
(8, 'Emily', 'Clark', 'HR', 'Recruiter', 50000.00, '2021-02-14', 'Active', 'Mumbai', 'emily.clark@example.com'),
(9, 'Vikram', 'Singh', 'Engineering', 'DevOps Engineer', 90000.00, '2019-08-19', 'Active', 'Hyderabad', 'vikram.singh@example.com'),
(10, 'Neha', 'Patel', 'Sales', 'Regional Manager', 95000.00, '2015-04-01', 'Active', 'Delhi', 'neha.patel@example.com');

In [0]:
%sql
-- Again we add our data into this employees table
INSERT INTO employees VALUES
(11, 'David', 'Lee', 'Engineering', 'Frontend Developer', 72000.00, '2020-03-11', 'Active', 'Chennai', 'david.lee@example.com'),
(12, 'Ananya', 'Roy', 'Finance', 'Financial Analyst', 67000.00, '2019-07-25', 'Active', 'Pune', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Marketing', 'Content Strategist', 58000.00, '2021-11-30', 'Active', 'Delhi', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Sales', 'Sales Associate', 52000.00, '2018-10-02', 'Inactive', 'Bangalore', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Engineering', 'Data Scientist', 98000.00, '2021-05-20', 'Active', 'Hyderabad', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'HR', 'Compensation Analyst', 61000.00, '2017-01-16', 'Active', 'Mumbai', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Engineering', 'Software Architect', 120000.00, '2016-09-05', 'Active', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Finance', 'Auditor', 69000.00, '2020-12-11', 'Active', 'Pune', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Sales', 'Regional Sales Head', 115000.00, '2015-06-20', 'Active', 'Chennai', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Engineering', 'Machine Learning Engineer', 93000.00, '2019-04-15', 'Active', 'Hyderabad', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Marketing', 'SEO Specialist', 57000.00, '2018-05-22', 'Active', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Finance', 'Tax Consultant', 65000.00, '2020-01-25', 'Active', 'Mumbai', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'HR', 'HR Coordinator', 48000.00, '2021-09-10', 'Active', 'Bangalore', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Engineering', 'Tech Lead', 105000.00, '2017-11-18', 'Active', 'Chennai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Sales', 'Sales Manager', 88000.00, '2016-02-09', 'Active', 'Hyderabad', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Finance', 'Payroll Specialist', 60000.00, '2022-04-08', 'Active', 'Pune', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Marketing', 'Brand Manager', 75000.00, '2019-03-19', 'Active', 'Delhi', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Engineering', 'QA Engineer', 70000.00, '2020-07-15', 'Active', 'Bangalore', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Engineering', 'Cloud Engineer', 89000.00, '2018-06-25', 'Active', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Sales', 'Territory Manager', 81000.00, '2017-04-05', 'Active', 'Mumbai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Finance', 'Business Analyst', 68000.00, '2021-03-27', 'Active', 'Chennai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'HR', 'Training Specialist', 59000.00, '2019-08-02', 'Active', 'Pune', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Engineering', 'Security Analyst', 94000.00, '2020-12-18', 'Active', 'Delhi', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Marketing', 'Social Media Manager', 63000.00, '2018-07-21', 'Active', 'Bangalore', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Engineering', 'Data Analyst', 76000.00, '2017-02-15', 'Active', 'Hyderabad', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Sales', 'Sales Coordinator', 54000.00, '2022-05-01', 'Active', 'Mumbai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Finance', 'Investment Analyst', 88000.00, '2016-11-28', 'Active', 'Delhi', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Engineering', 'AI Engineer', 115000.00, '2019-09-30', 'Active', 'Chennai', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'HR', 'HRBP', 74000.00, '2020-02-07', 'Active', 'Pune', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Marketing', 'Market Research Analyst', 58000.00, '2021-06-11', 'Active', 'Hyderabad', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Engineering', 'Mobile App Developer', 77000.00, '2018-01-13', 'Active', 'Delhi', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Engineering', 'Product Manager', 125000.00, '2015-12-20', 'Active', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Sales', 'Inside Sales Rep', 56000.00, '2020-04-23', 'Active', 'Chennai', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Finance', 'Risk Manager', 97000.00, '2017-10-14', 'Active', 'Mumbai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Marketing', 'PR Specialist', 64000.00, '2019-05-18', 'Active', 'Pune', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Engineering', 'Technical Support Engineer', 66000.00, '2021-01-12', 'Active', 'Hyderabad', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'HR', 'HR Generalist', 61000.00, '2018-09-03', 'Active', 'Delhi', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Finance', 'Treasury Analyst', 70000.00, '2019-12-29', 'Active', 'Chennai', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Engineering', 'Systems Engineer', 73000.00, '2020-06-17', 'Active', 'Bangalore', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Marketing', 'Advertising Manager', 82000.00, '2017-08-09', 'Active', 'Mumbai', 'aria.gill@example.com');

In [0]:
%sql 
-- Now we check the inserted data into our employees table 
select * from employees;

In [0]:
%sql
--Now we select the first 3 columns from the database employees
select emp_id,first_name,salary
from employees;

WHERE CLAUSE

In [0]:
%sql 
-- Now we select the first column from the database employee where the salary is Greater then 80k
select emp_id,first_name,salary 
from employees where salary >80000;

In [0]:
%sql 
-- Now we select the people who are inactive in our company
select * from employees 
where status= 'Inactive';

In [0]:
%sql 
-- Now we select the people who are active in our comapny 
select* from employees 
where status='Active'

In [0]:
%sql 
-- Now we select the people in our company whose status is active and lives in chennai
select * from employees 
where status='Active' and city='Chennai';

In [0]:
%sql
-- Now we see the details of the people working in 2 deparments Only
select * from employees 
where (department='HR' Or department='Engineering');-- Longer version
-- select * from employees where department IN ('HR','Engineering');-- short version

In [0]:
%sql 
-- now we see the details of only 2 department frontend, sales and their salary >50000
select * from employees 
where department in('HR','Sales') and salary >50000;

In [0]:
%sql
-- now we see the results of people who got hired in 2017-06-30
select * from employees 
where hire_date = '2017-06-30';

In [0]:
%sql 
-- now we see the details of people hired >2020-01-01 and salary >90000
select * from employees 
where hire_date>'2020-01-01' and salary >90000;

ORDER BY CLAUSE

In [0]:
%sql 
-- now we use the order by in the sql for the salary 
select * from employees 
order by salary ; -- by using the order by we see low to high salary which is always in ascending order.

In [0]:
%sql 
-- now we use the order by in the sql for the highest salary given to a person by the company 
select * from employees order by salary desc; -- by using this desc we see the highest salary given to a person by the company.

In [0]:
%sql 
-- now we use the order by in the sql for the name of the people alphabetically
select * from employees 
order by first_name; --

In [0]:
%sql 
-- now we use the order by in the sql for the name of the people by descending order of alphabet
select * from employees 
order by first_name desc;

In [0]:
%sql 
-- now we use the order by for the alphabetically department and names
select * from employees 
where order by department,first_name;

In [0]:
%sql 
-- now we see the recent hire by the company using the order by command
select first_name,hire_date 
from employees order by hire_date desc;

In [0]:
%sql 
-- now we see the employee id using the order by command 
select emp_id 
from employees order by emp_id ;

In [0]:
%sql 
-- now we use limit so see how many people got hired recently by the company using the order by command
select first_name,hire_date 
from employees 
order by hire_date 
desc limit 1; --so this limit only prints the first row

In [0]:
%sql 
-- now using limits in emp_id and salary 
select * from employees 
order by emp_id,salary 
limit 12;

In [0]:
%sql 
-- So offset usualy does that as i said limit 1 and salary in desc it shows me the highest salary of a person but if i use offset also 1 then it jumps from the 1st position to 2nd position showing the 2nd highest salary of the person in the company.
select salary from employees 
order by salary desc  
limit 1 offset 1
;

DISTINCT CLAUSE

In [0]:
%sql 
-- Using DISTINCT removes the duplicate data from the table we are looking for.
select Distinct salary 
from employees order by salary desc ;

In [0]:
%sql 
-- Now using DISTINCT in first and last name
select DISTINCT first_name ,last_name 
from employees ;

In [0]:
%sql 
-- Now using distinct in cities 
select distinct city
from employees;

In [0]:
%sql 
-- now using distinct in hire_date
select distinct hire_date 
from employees;

In [0]:
%sql 
--using distinct in status of the people 
select distinct  status 
from  employees;

In [0]:
%sql 
-- fetching the distinct year date of people 
select distinct year(hire_date) from employees;

In [0]:
%sql 
-- fetching salary of person which is 50000 with their first and last name.
SELECT DISTINCT first_name, last_name, salary
FROM employees
WHERE salary = 50000;

In [0]:
%sql 
--finding the total people who got hired in each year
select distinct year(hire_date), emp_id from employees;

USING DESCRIBE

In [0]:
%sql 
--Now we use describe to see the datatypes used in the table 
describe employees;

COUNT

In [0]:
%sql 
-- now we use count to see the total rows in the employee table
select count(*) as total_employees from employees;

In [0]:
%sql 
 
select 1 as from employees; -- what this does is that it counts the rows and put the value as 1 in each row

In [0]:
%sql 
select count(*) from employees; -- this count all the rows from the employee table

In [0]:
%sql 
select  count(1)  from employees ; -- this also counts all the rows in the employee table

Null

In [0]:
%sql
-- now using count and then null to check the things in the databases
select count(*) from employees where emp_id is null

In [0]:
%sql 
-- now using not null 
select count(*) from employees where hire_date is null;

Group By

In [0]:
%sql 
-- now we use group by to see the total no of department in the company 
SELECT Department
FROM employees
GROUP BY Department;

In [0]:
%sql 
-- now we see the total no of people in the deparment 
SELECT department, COUNT(*) AS total_employees
FROM employees
GROUP BY department;

In [0]:
%sql
-- now we use the group by to find the avg salary in each department 
SELECT department, AVG(salary) AS avg_salary
FROM employees
GROUP BY department;

In [0]:
%sql 
-- now we find the max salary from each department 
select department, max(salary) as max_salary
from employees 
group by department;

In [0]:
%sql 
-- now we find out the min salary of each deparment
select department,min(salary) as min_salary
from employees 
group by department;

In [0]:
%sql 
-- now avg salary per city 
select city,avg(salary) as Avg_salary
from employees 
group by city;

In [0]:
%sql 
--currently active vs inactive
select status,count(*) as total_employees
from employees 
group by status;

In [0]:
%sql 
-- now finding out the less then people working in the deparment
select department,count(*) as total_employees
from employees 
group by department
having count(*) < 9;