In [0]:
--Show all employees from the Engineering department and sort them by salary ascending.
select * from employees where department='Engineering' order by salary asc

In [0]:
--Display employees whose salary > 90000 and sort by salary descending.
select * from employees where salary > 90000 order by salary desc

In [0]:
--Show employees who are Active AND work in Hyderabad, order by hire_date ascending.
select * from employees where status='Active' and city='Hyderabad' order by hire_date asc

In [0]:
--Display employees whose first_name starts with 'S', order by salary descending.
select * from employees where first_name like 'S%' order by salary desc

In [0]:
--Show employees from HR or Finance and order by city ascending, then salary descending.
select * from employees where department in('HR','Finance') order by city asc,salary desc

In [0]:
--Display employees whose salary is between 70000 and 100000, order by last_name ascending.
select * from employees where salary between 70000 and 100000 order by last_name asc

In [0]:
--Show all employees sorted by salary ascending.
select * from employees order by salary asc

In [0]:
--Show all employees sorted by hire_date descending.
select * from employees order by hire_date desc

In [0]:
--Show employees from Engineering department, order by salary descending.
select * from employees where department='Engineering' order by salary desc

In [0]:
--Show all employees sorted by city ascending, then salary descending.
select * from employees order by city asc,salary desc

In [0]:
--Show Active employees in HR or Finance, order by department ascending, then salary descending.
select * from employees where status='Active' and department in('HR','Finance') order by department asc,salary desc

In [0]:
--Show employees whose first_name starts with 'S', order by hire_date ascending.
select * from employees where first_name like 'S%' order by hire_date asc

In [0]:
--Show employees whose salary is between 60000 and 90000, order by last_name ascending.
select * from employees where salary between 60000 and 90000 order by last_name asc

In [0]:
--Show Active employees from Hyderabad or Pune whose salary > 70000, order by department ASC, then salary DESC.
select * from employees where city in('Hyderabad','Pune') and salary > 70000 order by department asc,salary desc

LIMIT Questions

In [0]:
--Top 5 highest-paid employees
select * from employees order by salary desc limit 5

In [0]:
--Show the 3 most recently hired employees.
select * from employees order by hire_date desc limit 3

In [0]:
--Show 5 employees from the Sales department with the lowest salary.
select * from employees where department='Sales' order by salary asc limit 5

In [0]:
--Show 10 employees, skipping the first 5 rows, sorted by hire_date ascending.
select * from employees order by hire_date asc limit 10 offset 5

In [0]:
--Show 3 employees whose first_name starts with 'S', sorted by salary descending.
select * from employees where first_name like'S%' order by salary desc limit 3