WHERE CLAUSE QUESTIONS.

In [0]:

-- Showing the Employees data
select * from employees

In [0]:
-- showing the only column name,salary and department 
select first_name,salary,department from employees

In [0]:
--showing only first name and last name
select first_name,last_name from employees

In [0]:
--show only department and job title
select department,job_title from employees

In [0]:
--showing people salary which is greater then 80k
select first_name,last_name, salary from employees where salary > 80000

In [0]:
--showing people salary which is greater then 1 lakh 
select first_name,last_name,salary from employees where salary > 100000

In [0]:
--showing the status of the people who are active with their name and salary
select first_name,last_name,salary,status from employees where status ='Active'

In [0]:
--showing the status of the people who are inactive with their name and salary
select first_name,last_name,salary from employees where status='Inactive'

In [0]:
--Showing the status of the active people who lives in mumbai
select * from employees where status='Active' and city='Mumbai'

In [0]:
--Showing the people who are working only in marketing department
select * from employees where department='Marketing'

In [0]:
--showing the people who are working as a auditor in the company 
select * from employees where job_title='Auditor'

In [0]:
--Showing people working in 2 deparment only engineering and hr 
select * from employees where department in ('Engineering','HR')

In [0]:
--Showing people working in 3 department engineering,hr and finance
select * from employees where department in ('Engineering','HR','Finance')

In [0]:
--showing 4 depatment people list
select * from employees where department in ('Engineering','HR','Finance','Sales')

In [0]:
--showing the department with their salary condition
select * from employees where department in('Engineering','HR') and salary >100000

In [0]:
--showing the city mumbai and pune with their salary 
select * from employees where city in('Mumbai','Pune') and salary >69000

In [0]:
--showing the people who joined before 2020 and status is active
select * from employees where hire_date < '2020-01-01' and status='Active'

In [0]:
--showing the people who joined the company before 2020 and city as pune 
select * from employees where hire_date > '2020-01-01' and city='Pune'