COUNT ROWS TECHNIQUE

In [0]:
select 1 from employees

In [0]:
select count(1) from employees

In [0]:
select count(*) from employees

In [0]:
--printing the null emails
select count(*) from employees where email is  null

In [0]:
----printing the no nulls emails
select count(*) from employees where email is not null

GROUP BY

In [0]:
select department from employees group by 1

In [0]:
--count the no of employees in the deparment 
select department,count(*) as Employees from employees group by 1

In [0]:
--List all departments that have fewer than 9 employees, along with the number of employees in each department.
select department,count(*) as employees from employees group by 1 having employees <9