Beginner Level (Foundation)

In [0]:
--Count total employees in each department.
select department,count(*)as total_emp from employees group by department

In [0]:
--Count employees in each city.
select city,count(*)as total_emp from employees group by city

In [0]:
--Find the average salary in each department.
select department,round(avg(salary)) as avg_salary from employees group by department order by avg_salary asc

In [0]:
--Find the highest salary in each department.
select department,max(salary)as highest_salary from employees group by department order by highest_salary asc

In [0]:
--Find the lowest salary in each job title.
select job_title,min(salary) as min_salary from employees group by job_title order by min_salary asc

In [0]:
--Count how many employees have each job title.
select job_title,count(*) as employees from employees group by job_title

In [0]:
--Find total salary paid per department.
select department,sum(salary)as total_salary from employees group by department

In [0]:
--Count employees hired in each year.
select year(hire_date),count(*)as employees from employees group by year(hire_date) order by year(hire_date) asc

Intermediate Level (Real Understanding)

In [0]:
--Find departments having more than 5 employees.
select department,count(*)as total_emp from employees group by department having count(*)>5

In [0]:
--Find cities where more than 10 employees work.
select city,count(*)as total_emp from employees group by city having count(*) > 10 order by count(*) desc

In [0]:
--Find departments where average salary > 70,000.
select department,round(avg(salary))as avg_salary from employees group by department having avg(salary)>70000

In [0]:
--Find job titles where maximum salary > 90,000.
select job_title,max(salary)as max_salary from employees group by job_title having max(salary)>90000

In [0]:
--Find years where more than 3 employees were hired.
select year(hire_date),count(*)as employees from employees group by year(hire_date) having count(*) > 3

In [0]:
--Find departments where minimum salary < 60,000.
select department,min(salary) as min_salary from employees group by department having min(salary)<60000

In [0]:
--Show department-wise employee count ordered by count descending.
select department,count(*) as employees from employees group by department order by employees desc

In [0]:
--Find cities where average salary > 70,000.
select city,avg(salary) as avg_salary from employees group by city having avg(salary) >70000

Advanced Level (Thinking in Groups)

In [0]:
--Find departments where highest salary > 2 Ã— lowest salary.
select department,max(salary)as max_salary,min(salary) as min_salary from employees group by department having max(salary)>2*min(salary)

In [0]:
--Find job titles where average salary is above company average.
select job_title,avg(salary)as avg_salary from employees group by job_title having avg(salary)>(select avg(salary) from employees)

In [0]:
--Find cities where all employees are Active.
select city,count(*)as employees from employees group by city having min(status='Active')

In [0]:
--Find departments where employee count is greater than company average department size.
SELECT department, COUNT(*) AS employees
FROM employees
GROUP BY department
HAVING COUNT(*) > (
    SELECT AVG(emp_count)
    FROM (
        SELECT COUNT(*) AS emp_count
        FROM employees
        GROUP BY department
    ) AS dept_counts
);