Noob

In [0]:
--Count employees in each department.
select department,count(*) as total_emp from employees group by department

In [0]:
--Count employees in each city.
select city,count(*) as total_people from employees group by city

In [0]:
--Count employees per job title.
select job_title,count(*)as total_emp from employees group by job_title

In [0]:
--Sum of salaries per department.
select department,sum(salary)as totalsalary from employees group by department

In [0]:
--Average salary per department.
select department,avg(salary)as avg_salary from employees group by department

In [0]:
--Count employees with each status (active, inactive, etc.).
select status,count(*)as status from employees group by status

In [0]:
--Count employees per department per city.
select department,city,count(*)as total_emp from employees group by department,city

In [0]:
--Find the minimum salary in each department.
select department,min(salary)as low_salary from employees group by department

In [0]:
--Find the maximum salary in each city.
select city,round(max(salary))as high_salary from employees group by city

In [0]:
--Count employees hired on each date.
select hire_date,count(*) as hired_date from employees group by hire_date

Intermediate

In [0]:
--Count employees hired per year.
select year(hire_date),count(*) as hire_year from employees group by year(hire_date)

In [0]:
--Count employees hired per month.
select month(hire_date)as hire_month,count(*) as total_hire from employees group by month(hire_date) order by hire_month

In [0]:
--Find departments where average salary > 50,000.
select department,round(avg(salary))as avg_salary from employees group by department having avg(salary) > 50000

In [0]:
--departments where more than 5 employees earn > 60,000
select department,count(*) from employees where salary >60000 group by department having count(*)>5

In [0]:
--Find departments with fewer than 3 employees.
select department,count(*) from employees group by department having count(*)<3

In [0]:
--Find job titles with average salary > 70,000.
select job_title,round(avg(salary))as salary from employees group by job_title having avg(salary) > 70000

In [0]:
--Count employees per job title in each department.
select job_title,department,count(*)as employees from employees group by job_title,department

In [0]:
--Find total salary per city.
select city,sum(salary)as total_salary from employees group by city

In [0]:
--Find average salary per city.
select city,round(avg(salary)) as avg_salary from employees group by city

In [0]:
--Find highest salary per department.
select department,max(salary) as high_salary from employees group by department

Advanced

In [0]:
--Find departments where the highest salary > 2 Ã— lowest salary.
select department,max(salary) as highest_salary ,min(salary) as lowest_salary from employees group by department having max(salary) > 2*min(salary )

In [0]:
--Find cities where all employees are active.